'use strict';

module.exports = function (key) {

  var config = {
    logo: true, // disable logo if you no like
    proxy: 'registry.npmjs.org',
    domain: 'http://localhost',
    port: '3000',
    db: { driver: 'level' }
  };

  return process.env[key.toUpperCase()] || config[key];
};
